In [1]:
import numpy as np
import pandas as pd
import glob
import json

In [2]:
mf = glob.glob('../metrics_folder/exp3_exp/*')
mf

['../metrics_folder/exp3_exp/random', '../metrics_folder/exp3_exp/balanced']

In [3]:
for folder in mf:
    model_res_json_folder = (glob.glob(folder + "/*"))
    data = {'tp': [],'tn': [],'fp': [],'fn': [],'iou': [],'recall': [],'precision': [],}
    df_res = pd.DataFrame(data)
    for model_res_json_path in model_res_json_folder:
        with open(model_res_json_path, 'r') as j:
            contents = json.loads(j.read())
            df = pd.DataFrame.from_dict(contents)
        s = df.sum(axis=1)
        fn = s['fn']
        tn = s['TN']
        tp = s['TP']
        fp = s['FP']
        recall = (tp/(tp+fn))
        precision = tp / (tp + fp)
        iou = tp /(tp + fn + fp)
        name = model_res_json_path.split('/')[4].split('.json')[0]
        new_row = pd.Series({'tp':tp,'tn':tn,'fp':fp,'fn':fn,'iou':iou,'recall':recall,'precision': precision}, name=name)
        df_res = df_res.append(new_row)
        
    fs = folder.split('/')
    csv_name = fs[3] + "_" + fs[2]
    df_res.to_csv(f'./{csv_name}.csv')

In [4]:
df.T.describe()

,Accuracy,FP,IOU,Precision,Recall,TN,TP,fn
count,4992.000000,4992.000000,4992.000000,4992.000000,4992.000000,4992.000000,4992.000000,4992.000000
mean,0.998962,67.962540,0.999872,0.999901,0.999964,65466.658854,1.317708,0.060897
std,0.007409,485.526456,0.004558,0.003625,0.001480,489.452451,54.158279,2.492686
min,0.864990,0.000000,0.817374,0.823881,0.919441,56688.000000,0.000000,0.000000
25%,1.000000,0.000000,1.000000,1.000000,1.000000,65536.000000,0.000000,0.000000
50%,1.000000,0.000000,1.000000,1.000000,1.000000,65536.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,1.000000,1.000000,65536.000000,0.000000,0.000000
max,1.000000,8848.000000,1.000000,1.000000,1.000000,65536.000000,3305.000000,121.000000